exercises/04/MovieCatalog/MC.Website/Connected Services/GenresReference/Genres2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MC.ApplicationServices.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MC.ApplicationServices.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGenreDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenreDto" nillable="true" type="tns:GenreDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenreDto" nillable="true" type="tns:ArrayOfGenreDto" />
  <xs:complexType name="GenreDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenreDto" nillable="true" type="tns:GenreDto" />
</xs:schema>