exercises/05/MovieCatalog/MC.Website/Connected Services/MoviesReference/Movies.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MC.ApplicationServices.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MC.ApplicationServices.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMovieDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MovieDto" nillable="true" type="tns:MovieDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovieDto" nillable="true" type="tns:ArrayOfMovieDto" />
  <xs:complexType name="MovieDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Genre" nillable="true" type="tns:GenreDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ReleaseCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReleaseDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MovieDto" nillable="true" type="tns:MovieDto" />
  <xs:complexType name="GenreDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenreDto" nillable="true" type="tns:GenreDto" />
</xs:schema>