exercises/week_03/MovieCatalog/MC.Website/Connected Services/GenresReference/Genres.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Genres" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63956/Genres.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63956/Genres.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63956/Genres.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MC.ApplicationServices.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGenres_GetGenres_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGenres" />
  </wsdl:message>
  <wsdl:message name="IGenres_GetGenres_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenresResponse" />
  </wsdl:message>
  <wsdl:message name="IGenres_PostGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:PostGenre" />
  </wsdl:message>
  <wsdl:message name="IGenres_PostGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IGenres_PutGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:PutGenre" />
  </wsdl:message>
  <wsdl:message name="IGenres_PutGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IGenres_DeleteGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGenre" />
  </wsdl:message>
  <wsdl:message name="IGenres_DeleteGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IGenres_Message_InputMessage">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="IGenres_Message_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IGenres">
    <wsdl:operation name="GetGenres">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenres/GetGenres" message="tns:IGenres_GetGenres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenres/GetGenresResponse" message="tns:IGenres_GetGenres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenres/PostGenre" message="tns:IGenres_PostGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenres/PostGenreResponse" message="tns:IGenres_PostGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenres/PutGenre" message="tns:IGenres_PutGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenres/PutGenreResponse" message="tns:IGenres_PutGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenres/DeleteGenre" message="tns:IGenres_DeleteGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenres/DeleteGenreResponse" message="tns:IGenres_DeleteGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Message">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenres/Message" message="tns:IGenres_Message_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenres/MessageResponse" message="tns:IGenres_Message_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGenres" type="tns:IGenres">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGenres">
      <soap:operation soapAction="http://tempuri.org/IGenres/GetGenres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostGenre">
      <soap:operation soapAction="http://tempuri.org/IGenres/PostGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutGenre">
      <soap:operation soapAction="http://tempuri.org/IGenres/PutGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGenre">
      <soap:operation soapAction="http://tempuri.org/IGenres/DeleteGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message">
      <soap:operation soapAction="http://tempuri.org/IGenres/Message" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Genres">
    <wsdl:port name="BasicHttpBinding_IGenres" binding="tns:BasicHttpBinding_IGenres">
      <soap:address location="http://localhost:63956/Genres.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>