exercises/03/MovieCatalog/MC.Website/Connected Services/MoviesReference/Movies2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63956/Movies.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MC.ApplicationServices.DTOs" />
  <xs:element name="GetMovies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MC.ApplicationServices.DTOs" minOccurs="0" name="GetMoviesResult" nillable="true" type="q1:ArrayOfMovieDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MC.ApplicationServices.DTOs" minOccurs="0" name="GetMovieByIDResult" nillable="true" type="q2:MovieDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MC.ApplicationServices.DTOs" minOccurs="0" name="movieDto" nillable="true" type="q3:MovieDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostMovieResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MC.ApplicationServices.DTOs" minOccurs="0" name="movieDto" nillable="true" type="q4:MovieDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutMovieResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMovieResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>